<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="./main.css">
</head>
<body>
    <div class="hud">
        <a href="../characters"><Button class="glow-on-hover">Characters</Button></a>
        <a href="../planets"><Button class="glow-on-hover">Planets</Button></a>
        <a href="../starships"><Button class="glow-on-hover">Starships</Button></a>
    </div>
</body>
</html>